<!DOCTYPE html>
<html>
    <head>
      <title>Django Girls blog (Mila)</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time> published: 22.04.2022, 15:04</time>
            <h2><a href="">My first post</a></h2>
            <p>Здесь пост создан вручную, HTML текстом, а в следующих примерах
            посты будут подтягиваться из базы данных, по специально заданнаму
            через django tags и язык HTML шаблону </p>
        </article>

{% for post in posts %}
    <article>
        <time> published: {{ post.published_date}}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p> {{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}

    </body>
</html>
